.form-radio-type {
    background-color: #e7ffcc;
    padding: 5px 50px 5px 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    width: 200px;
}

.radio-label {
    margin-right: 20px;
}

.radio-input {
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.radio-input:checked {
    border: 6px solid black;
}


/* Affichage de l'id de l'utilisateur crée */
.row-creation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    align-items: center;
}

.col-id {
    display: flex;
    align-items: center;
}

.custom-label {
    font-size: 14px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte */
    margin-right: 10px; /* Espace à droite */
}

.custom-id {
    background-color: rgba(255, 255, 255, 0.5); /* Fond semi-transparent */
    padding: 5px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid #ccc; /* Bordure légère */
    width: 100%; /* Prend toute la largeur disponible */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
}

.custom-id {
    background-color: transparent; /* Fond transparent */
    border: none; /* Supprime la bordure par défaut */
    outline: none; /* Supprime l'effet de focus par défaut */
    font-size: 14px; /* Taille du texte */
    color: #333; /* Couleur du texte */
    width: 100%; /* S'adapte à la largeur du conteneur */
    padding: 5px; /* Ajoute de l'espace interne */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
}

.custom-id:disabled {
    background-color: #f0f0f0; /* Fond grisé pour un champ désactivé */
    color: #999; /* Texte grisé */
    cursor: not-allowed; /* Curseur non interactif */
}

