.footer {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Changer en column pour aligner avec la structure du composant */
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: rgb(7, 7, 7);
    margin: 0 2%; /* Ajuster les marges pour centrer le contenu */
    font-size: 0.9rem;
    padding-top: 1vh;
}

.row-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Applique le flex, l'alignement à gauche, et l'espacement entre les éléments */
.col-footer {
    display: flex;
    flex: 1;
    flex-direction: column;   /* Empile les éléments verticalement */
    align-items: flex-start;  /* Aligne le contenu à gauche */
    gap: 5px;                /* Espacement de 10px entre chaque ligne */
}

.social-icons {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 10vh;
}

.img-footer {
    height: 30px;
    width: auto;
    margin-right: 20px; /* Ajouter une marge pour espacer les images */
}

.Initiative79 {
    padding-bottom: 5px;
    font-weight: bold; /* Assurer que le texte est en gras */
}

.mentionsLégales {
    display: flex;
    justify-content: center; 
    font-size: 0.8rem;
}

.horaires {
    margin-left: 10vh;
    display: flex;      /* Activer Flexbox */
    flex-direction: column; /* Empiler les éléments verticalement */
    gap: 5px;          /* Espacement entre les lignes */
    padding-bottom: 10px;
}
