.header {
    height: 12vh;
    width: 100%;
    padding-top: 0.8%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column; /* Ajouté pour aligner les éléments verticalement */
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-around; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.menu {
    display: flex;
    font-size: 1rem;
    color: rgb(7, 7, 7);
    text-decoration-line: none;
    padding-top: 5px;
    margin: 0 40px; /* Ajoute de l'espace entre les liens */
}

.menu:hover {
    color: #FF165D;
}

.favicon-container { 
    padding-top: 20px;
    margin: 0 40px; /* Ajoute de l'espace entre les liens */
}

.favicon {
    background-image: url('../../medias/images/logos/favicon_TTM.png');
    width: 6vh;
    height: 6vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.favicon:hover {
    background-image: url('../../medias/images/logos/favicon_TTM_rose.png');
}

.favicon-container { 
    padding-top: 20px;
}

.bouton button {
    font-size: 0.95rem;
    padding: 3px 10px;
    margin: 0 40px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #fff;
}

.bouton .btn-connexion {
    background-color: #FF165D;
}

.bouton .btn-creer {
    background-color: #000;
}

.bouton .btn-creer:hover,
.bouton .btn-connexion:hover {
    font-size: 0.95rem;
    border: 1px solid;
    background-color: #fff; /* Couleur de fond blanche au survol */
    color: #000; /* Couleur du texte noire au survol */
}

.bouton .btn-creer:active,
.bouton .btn-connexion:active {
    transform: scale(0.8); 
}

.logo-ttm {
    max-height: 7vh;
    width: 100vh;
    height: 8vh;
    background-image: url('../../medias/images/logos/logo_TTM_vert.png');
    background-size: contain; /* Utilisez 'contain' pour préserver les proportions */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    background-position: center; /* Centre l'image dans le conteneur */
}

.logo-reseau {
    max-height: 7vh;
    width: 100vh;
    height: 8vh;
    margin-top: -10px;
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    background-size: contain; /* Utilisez 'contain' pour préserver les proportions */
    background-position: center; /* Centre l'image dans le conteneur */
    background-image: url('../../medias/images/logos/Nouvelle_Aquitaine-Logo-Reseau_Initiative.webp');
}

.line {
    width: 90%; /*Elle occupe 90% de la largeur disponible*/
    margin: 5px auto 0 ; /* Espace au-dessus de la ligne */
    border-top: 3px solid #71c920; /* Vous pouvez changer la couleur et l'épaisseur */
}
