/* Assurez-vous que Wrapper prend toute la hauteur */
.Wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    width: 100%; /* Prend toute la largeur disponible */
}

.container-messages {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: 70vh;
}

.contacts {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100%; /* Limite la hauteur à celle du conteneur parent */
    height: 70vh; /* prend la même hauteur que le container pour permettre l'affichage de la barre de scroll */
    background-color: #e7ffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    overflow-y: auto; /* Ajoute une barre de défilement si le contenu dépasse */
    flex: 1; /* Prend tout l'espace restant dans le conteneur parent */
    cursor: pointer; /* Curseur interactif */
}

.contacts-mobile {
    margin-top: 1rem;
    margin-bottom: 0;
    max-height: 100%; /* Limite la hauteur à celle du conteneur parent */
    height: 70vh;
    background-color: #e7ffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    overflow-y: auto; /* Ajoute une barre de défilement si le contenu dépasse */
    flex: 1; /* Prend tout l'espace restant dans le conteneur parent */
    cursor: pointer; /* Curseur interactif */
}

.titre-messages {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 3rem;
    color:#FF165D;
    font-weight: normal;
    font-size: 1.3rem;
    padding-top: 2rem;
    gap: 0.8rem;
}

/* Insère l’image avant le texte */
.titre-messages::before {
    content: ""; /* Nécessaire pour afficher l’image */
    display: inline-block;
    width: 1.7rem; /* Ajuste la taille de l’image */
    height: 1.7rem;
    background-image: url('./../../../medias/images/bulle_rose.png');
    background-size: contain; /* Ajuste la taille */
    background-repeat: no-repeat;
}

.nom-contact {
    margin-bottom: 3rem;
}

.discussions {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem; 
    margin-top: 2rem;
    padding-top: 0.5rem;
    flex: 3;
    overflow-y: auto; 
}

/* Styles généraux pour chaque message */
.message {
    display: flex;
    flex-direction: column;
    max-width: 100%; /* Empêche les messages d'être trop larges */
    padding: 0.5rem 0.5rem;
    margin-top: -1rem;
    border-radius: 10px;
}

.message-contenu {
    background-color: #ffffff;
    padding: 0.5rem 1rem 1rem;
    border-radius: 0.3rem;
    max-width: 60%;
    min-width: 40%;
}

/* Messages du contact (alignés à gauche) */
.message-contact {
    align-self: flex-start; 
    margin-left: 3rem;
}

.message-nom {
    width: 10rem;
    margin-left: 3rem;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    font-weight: bold;
}

/* Nom de l'expéditeur */
.message-nom, .message-nom-contact {
    background-color: #e7ffcc;
    color: black;
}

/* Messages de "Moi" (alignés à droite) */
.message-moi {
    align-self: flex-end; 
    margin-right: 3rem;
}

.message-nom-moi {
    align-self: flex-end; 
    text-align: right;
    background-color: #FF165D;
    color: white;
    margin-right: 3rem;
}

.discussions .bouton {
    height: 2rem;
    width: 10rem;
}

/* Media queries pour ajuster le style en fonction de la taille de l'écran */
@media (max-width: 1200px) {
    .contacts, .titre-messages, .nom-contact, .message-contenu, .message-nom {
        font-size: 1rem; 
    }
}

@media (max-width: 1200px) {
    .contacts, .titre-messages, .nom-contact, .message-contenu, .message-nom {
        font-size: 0.9rem; 
    }
}

@media (max-width: 900px) {
    .contacts, .titre-messages, .nom-contact, .message-contenu, .message-nom {
        font-size: 0.8rem; 
    }
}

@media (max-width: 768px) { /* Version mobile */
    .contacts {
        display: none;
        flex: 0;
    }
    .titre-messages {
        font-size: 1.3rem;
    }
    .nom-contact {
        font-size: 1rem;
    }
}
